body {
  background-color: black;
}
.bayrak {
  background-color: red;
  margin: auto;
  height: 800px;
  width: 800px;
}
.white {
  position: absolute;
  background-color: white;
  display: block;
}
.kutu1 {
  margin-top: 100px;
  height: 600px;
  width: 160px;
  margin-left: 320px;
}
.kutu2 {
  width: 600px;
  height: 160px;
  margin-left: 100px;
  margin-top: 320px;
}

