body {
  background-color: black;
}
.bkutu {
  height: 800px;
  width: 800px;
  background-color: red;
  position: absolute;
  margin: auto 512px;
}

.kutu1 {
  height: 500px;
  width: 150px;
  background-color: white;
  display: block;
  margin-top: 150px;
  margin-left: 325px;
  position: absolute;
}

.kutu2 {
  height: 150px;
  width: 500px;
  background-color: white;
  margin-left: 150px;
  margin-top: 325px;
  display: block;
}
