* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 100px;
}

#big_box {
  background-image: url(../img/h.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  width: 100vh;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model {
  height: 175px;
  width: 250px;
}

div:nth-child(2) {
  height: 450px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: whitesmoke;
}

div:nth-child(1) {
  margin-top: 50px;
  background-color: rgb(172, 191, 250);
}

div:nth-child(3) {
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid wheat;
  align-self: flex-end; 
  position: absolute;
  }
/* footer resimleri */
.imge {
  height: 24px;
  width: 24px;
  border: 1px solid white;
  align-self: center;
}
/* profil resminin oldugu box */
.himge {
  height: 70px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  position: absolute;
  margin: -35px;
  border: 1px solid lightblue;
  display: flex;
}
/* sosyal medya ve resim bolumu */
#head {
  height: 130px;
  width: 200px;
  border-radius: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  margin-top: -65px;
  border: 1px solid lightblue;
  display: flex;
  justify-content: center;
}

h4 {
  margin: -5px auto;
  justify-content: center;
  position:absolute;
}

.iconblack {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  align-self: flex-end;
  margin: 15px;
  margin-bottom: 4px;
}

span {
  position: absolute;
  margin: 20px auto;
  font-size: 8px;
  clear: both;
}

#middle{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 20px;
  height: 350px;
}


.btn-circle.btn-xl {
  width: 35px;
  height: 35px;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  margin-top: 40px;
}

