<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  background-color: #f0f2f5;
}
.h1 {
  position: absolute;
  left: 10%;
  top: 40%;
  width: 550px;
}
.h {
  font-size: 60px;
  margin-bottom: 5px;
  color: #1877f2;
}
.information {
  font-size: 30px;
}
.main {
  position: absolute;
  background-color: #ffff;
  width: 420px;
  height: 420px;
  left: 55%;
  top: 20%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px rgb(184, 184, 184), -1px -1px 5px rgb(184, 184, 184);
}
.txt {
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  background-color: #ffff;
  outline: none;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  font-size: 15px;
}

.txt:focus {
  border: 1px solid #1877f2;
  box-shadow: 1px 1px 1px #1877f2, -1px -1px 1px #1877f2;
}
.login-btn {
  margin: 10px;
  padding: 15px;
  width: 95%;
  border-radius: 5px;
  background-color: #1877f2;
  color: #ffff;
  font-size: 20px;
  border: none;
  font-weight: bolder;
}
.a-link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  border-bottom: 1px solid rgb(184, 184, 184);
  margin: 20px;
  background: none;
}
.link {
  background: none;
  text-decoration: none;
  color: #1877f2;
}
.ca {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 95px;
  width: 50%;

  margin-bottom: 20px;
  padding: 15px;
  background-color: #42b72a;
  border-radius: 5px;
}
.pca {
  text-decoration: none;
  background: none;
  color: #ffff;
  font-weight: bolder;
  font-size: 17px;
}
#footer_wrapper {
  width: 100%;
  clear: both;
  float: left;
  margin-top: 30px;
  min-width: 995px;
  background-color: white;
  text-align: left;
}

footer {
  display: flex;
  align-self: flex-end;
  position: absolute;
  align-content: flex-end;
}

#footer1 {
  width: 980px;
  margin: 0px auto;
  padding: 0px;
  border-bottom: 1px solid #e6e6e6;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #848484;
}

#footer1 a {
  color: #365899;
  display: inline;
  margin-left: 10px;
  text-decoration: none;
}

#footer1 a:hover {
  text-decoration: underline;
}

#footer2 {
  width: 980px;
  margin: 0px auto;
  padding: 0px;
  font-size: 12px;
  color: #848484;
}

#footer2 a {
  color: #365899;
  display: inline-block;
  margin: 5px;
  margin-left: 0px;
  min-width: 80px;
  text-decoration: none;
}

#footer2 a:hover {
  text-decoration: underline;
=======
/* footer */
footer {
  height: 60vh;
  width: 100%;
  background-color: #fff2cc;
  display: flex;
  align-items: center;
  color: wheat;
}
/* contanier */
.shape {
  height: 40vh;
  width: 33.333%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  display: flex;
}

/* first shape ellipse */
.first {
  background-color: #62306d;
  flex-wrap: wrap;
}

.box {
  height: 70px;
  width: 70px;
}
.one {
  background-color: #fade8b;
  border-bottom-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.two {
  background-color: #fade8b;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
/* second shape quadrant */
.second {
  background-color: #e3516e;
}

.quadrant {
  display: flex;
  height: 70px;
  width: 70px;
  align-items: center;
  justify-content: center;
}

.top-left {
  background-color: #51b5a9;
  border-top-left-radius: 100%;
}

.top-right {
  background-color: #f7f3d7;
  border-bottom-left-radius: 100%;
}

.bottom-left {
  background-color: #fade8b;
  border-top-right-radius: 100%;
}

/* third shape circle bow */
.third {
  background-color: #191210;
  display: flex;
}

.circle div {
  display: flex;
}

#iki {
  height: 40px;
  width: 80px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: 15px solid #eca03d;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transform: rotate(180deg) translate(-15px, -20px);
  -webkit-transform: rotate(180deg) translate(-15px, -20px);
  -moz-transform: rotate(180deg) translate(-15px, -20px);
  -ms-transform: rotate(180deg) translate(-15px, -20px);
  -o-transform: rotate(180deg) translate(-15px, -20px);
}

#uc {
  height: 40px;
  width: 80px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: 15px solid #eca03d;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transform: translate(-15px, -20px);
  -webkit-transform: translate(-15px, -20px);
  -moz-transform: translate(-15px, -20px);
  -ms-transform: translate(-15px, -20px);
  -o-transform: translate(-15px, -20px);
}

#bes {
  background-color: #84271c;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: 15px auto;
}

#alti {
  background-color: #191210;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  height: 70px;
  width: 70px;
  border: 15px solid #eca03d;
>>>>>>> refs/remotes/origin/master
}
